@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_base_lightmode{
    background-color: #f6f6ff;
}

<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
=======
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
.dark *{
    background-color: black !important;
    color: white !important;
}

<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
>>>>>>> main2
>>>>>>> Stashed changes
=======
>>>>>>> main2
>>>>>>> Stashed changes
.filter-blue{
    filter: brightness(0) saturate(100%) invert(12%) sepia(88%) saturate(6253%) hue-rotate(220deg) brightness(72%) contrast(116%);
}

.filter-red{
    filter: brightness(0) saturate(100%) invert(14%) sepia(83%) saturate(6133%) hue-rotate(345deg) brightness(95%) contrast(114%);
}

.blue_text{
    color:#002BAD;
}

.red_text{
    color:#ff0026;
}

.error{
    @apply text-red-500 text-xs;
}

.scrollable {
    overflow: auto;
}
@media (min-width: 768px) {
    .image_holder {
        overflow-y: auto;
        max-height: 80vh;
    }
    .scrollable {
        overflow: hidden;
    }
}
