@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-border {
    border-left: 4px solid #1D4ED8; /* Blue color */
    border-top: 1px solid #D9D9D9; /* Light gray color */
    border-right: 1px solid #D9D9D9; /* Light gray color */
    border-bottom: 1px solid #D9D9D9; /* Light gray color */
}
.custom-border-admin {
    border-left: 4px solid #DC2626; /* Red color */
    border-top: 1px solid #D9D9D9; /* Light gray color */
    border-right: 1px solid #D9D9D9; /* Light gray color */
    border-bottom: 1px solid #D9D9D9; /* Light gray color */
}


